
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1,h2,h3,h4,p,ul{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}


.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08),
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    /*width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
*/
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
    }

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}





.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.nav{
    display: flex;
    align-items: center;
    position: relative;
    color: #404bbf;
}


.logo {

    /*display: block;*/
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;

}

.menu {
    display: none;
}


.studio {
    color: #2e2f42;
}

.current{
    position: relative;
    color: #404bbf;
}

.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.address {
    display: none;
    margin-left: auto;
    font-style: normal;
}
 

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;

}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li:first-child a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list li:nth-child(2) a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
        
 .open-menu-btn{
   display: none;
    }

.logo{
   margin-right: 120px; 
 }


 .menu {
     display: flex;
     gap: 40px;
 }

.menu-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}


 .address {
     display: block;
 }

.address-link {
      color: #434455;
      line-height: 1.16;
      font-size: 12px;
      letter-spacing: 0.02em;
      transition: color cubic-bezier(04, 0, 0.2, 1);
  }

 .address:hover {
     color: #404bbf;
 }

 .address:focus {
     color: #404bbf;
     outline: none;
 }

 .contact-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
 }
}


@media screen and (min-width: 1158px) {


    .logo{
        margin-right: 76px;
    }
    
    .contact-list{
        flex-direction: row;
        gap: 40px;
    }

    .address-link{
        font-size: 16px;
        line-height: 1.5;
    }


}
/* mob-header */

.model-mobile-wra {
    opacity: 1;
    pointer-events: auto;
}

.model-mobile-wrap{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}

.model-mobile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.model-close{
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
}

.model-list-mob{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    font-size: 36px;
}

.model-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-logo-mob{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #404bbf;
    display: flex;
    margin-bottom: 40px;
    padding-left: 16px;
}

.logo-mob {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    margin-bottom: 40px;
    padding-left: 16px;
}

.adres-menu-mob{
    font-style: normal;
    display: flex;
    margin-left: auto;
}


.contact-list-mob{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 156px;
    padding-left: 16px
}

.email-link-mob{
    color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.address-link-mob{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-list{
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 40px;
    margin-top: 48px;
    padding-left: 16px;
}

.list-link-mob{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list-icons{
    fill: #f4f4fd;
}
/* <main = class="business"> */




.business {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    padding: 72px 0;

}


.business-background {
    width: 100%;
    height: auto;
    display: block;
}



.container {
max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    
}

.business-heading {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 72px;
        
}



.business-button {

    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.business-button:hover,
.business-button:focus {

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {


.business {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tabel.jpg);
}


   .business-heading{
    font-size: 56px;
   line-height: 60px;
}

.business-button{
    margin-top: 36px;

}
}

@media screen and (min-width: 1158px) {


}



/*--- list */



.list {
    /*padding: 96px 0 96px; desctop*/

    padding: 120px 0;

}

.list-content {
    
    
    /* padding-left: 16px;
    padding-right: 16px; desctop */

    margin: 0 auto;
    
    
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.feature-list{
    display: flex;
    gap: 76px;
    flex-direction: column;
}


.list-item {
    
}


.icon-container {
    /*display: flex;*/
    display: none;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.list-heading {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
    
}

.list-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-size: 16px;
    padding-left: 16px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .feature-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 72px;
    }

    .list-heading{
     text-align: left;
    }

}


@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .list {
        padding: 120px px 0;
    }


   .feature-list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
     margin: 0 auto;
        }


    .list-item {
        width: calc((100% - 72px) / 4)
}
   .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
   }

.list-heading{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 0;
    text-align: left;
    margin-top: 0;
}

.list-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 0;
}




}






/* TEAM */





.team {
  /*padding: 120px 0;*/

    background-color: #F4F4FD;
    padding: 120px 0;
}


.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-member-img{
    display: block;
}

.team-member {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-left: 28px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-member-list{
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-icons{
    fill: #f4f4fd;

}

.team-member-list-icons {
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.team-member-list-icons:hover,
.team-member-list-icons:focus {
    background-color: #404bbf;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.employee-info {
    padding: 32px 0 32px;
}

.team-member-name {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.team-member-role {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}



.social-media-item {
    width: 40px;
    height: 40px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {

.team .team-content {
   max-width: 568px;
}

.team-member{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;
    column-gap: 24px;
    padding-left: 0;
}

}


@media screen and (min-width: 1158px) {


    .team .team-content{
       max-width: 1158px;
    }
    

    .team-member {
            display: flex;
            flex-direction: row;
            gap: 24px;
            padding-left: 0;
    }

    .team-member-list {
        width: calc((100% - 72px) / 4);
    }

    .employee-info {
        width: 264px;
    }
}





/* PORTFOLIO  */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}



.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: column;
}



.portfolio-list-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
}


.list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    line-height: 1.5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-list-item:hover .overlay{
    transform: translateY(0%);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
    

.portfolio-img{
    display: block;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 60px;
    background: #fff;
}


.project-company{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.project-category {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}


@media screen and (min-width: 768px) {
    
    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
} 
.portfolio-list {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

}

/* FOOTER */




.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}



.social-container{
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer .container {
    display: flex;
        align-items: baseline;
        flex-direction: column;
        gap: 70px;
}


/* 
.container-footer-social-container{
    display: flex;
    align-items: baseline;
    margin-left: 0%;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
} */



.p-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-left: 98px;
}



.media-list{
    display: flex;
    gap: 16px;
    padding-left: 40px;
    justify-content: center;
}



.media-box{
    width: 40px;
    height: 40px;
}



.media-box-icons{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.media-box-icons:hover,
.media-box-icons:focus{
    background-color: #31d0aa;
}



:root {
    --icon-color: #f4f4fd;
}



.footer-icons{
    fill: var(--icon-color);
}



.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
    padding-left: 86px;
}



.footer-description {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0 auto;
}



.footer-studio {
   color: #f4f4fd;
}


.footer-form-content{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: 106px;
}


.footer-form{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.footer-input{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}


.footer-form-btn{
    max-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    margin-left: 61px;
    border-radius: 4px;
    gap: 16px;

}

.button-footer-icon{
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

.footer .container {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    max-width: 564px;
}


.footer-content-container{
    margin-right: 0;
}

.footer-logo {
    padding-left: 0;
}

.footer-description{
    padding-left: 0;
}

.p-media{
    padding-left: 0;
}

.media-list{
    padding-left: 0;
    justify-content: left;
}

.footer-form-content {
    padding-left: 0;
    margin-left: 0;
}

.footer-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
}

.footer-input{
    width: 264px;
}

.footer-form-btn{
    margin-left: 0;
}
}

@media screen and (min-width: 1158px) {

   .footer .container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 15px;
    margin: 0 auto;
    gap: 0;
    max-width: 1158px;
    }

    .footer-content-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 120px;
    }

    .footer-logo{
        padding-left: 0;
        margin-bottom: 0;
    }
    .footer-description{
        margin: 0 auto;
    }

    .p-media{
        padding-left: 0;
    }
    .media-lis{
        padding-left: 0;
    }

    .footer-end{
        margin-left: 80px;
    }

    .footer-form{

    }

    .footer-form-btn{
        min-width: 165px;
        margin-left: 0
    }

    .button-footer-icon{
        margin-left: 16px;
    }
}









.backdrop {
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
    background-color: #404bbf;
    border: none;
}

.button-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover > .button-icon,
.modal-close:focus > .button-icon{
    fill: #ffffff;
}



.title-backdrop {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.modal-imput-wrap{
    margin-bottom: 8px;
}




.coment-imput-wrap{
    margin-bottom: 16px;
}


.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}



.container-inon{
    position: relative;

}

.modal-imput {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-imput:checked + .modal-label > .span-class {
    fill: #4D5AE5;
    border: none;
}


.modal-imput:focus + .model-icon {
    fill: #4D5AE5;
}



.modal-imput:focus{
    border-color: #4D5AE5;
}


.modal-text{
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-imput-form{
    margin-bottom: 24px;
}

.label-privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-privacy{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}



.visually-hidden:checked + .label-privacy > .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.input-check-link{
    color:#4d5ae5;
}

.send-button{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}